*.csv filter=lfs diff=lfs merge=lfs -text
Resources/*.csv filter=lfs diff=lfs merge=lfs -text
/Resources/application_data.csv.zip filter=lfs diff=lfs merge=lfs -text
/Resources/previous_application.csv.zip filter=lfs diff=lfs merge=lfs -text
/Resources/application_data.csv filter=lfs diff=lfs merge=lfs -text
/Resources/previous_application.csv filter=lfs diff=lfs merge=lfs -text
